In [2]:
# ----------------------------------
# Step 0: Import modules
# ----------------------------------
import pandas as pd

In [3]:
# ----------------------------------
# Step 1: Get the filename, then Read in and clean data.
# ----------------------------------

# Give the user instructions
print("Welcome to Pymoli Data Analysis!")
print("To analyze a file with purchase data, please enter the filename below.")
print("WARNING: Please include the complete filepath! \n")

filename = input("Enter filename here: ")

Welcome to Pymoli Data Analysis!
To analyze a file with purchase data, please enter the filename below.
WARNING: Please include the complete filepath!

Enter filename here: data/purchase_data.json

In [11]:
# Read in the data file
purchases_df = pd.read_json(filename, orient='records')

# make sure everything is the right data type to use
purchases_df['Price']= purchases_df['Price'].replace("%","", regex=True).astype(float)

# check and remove null values
purchases_df.dropna(how='any')
purchases_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

total count of players

Gender Demographics

- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [26]:
# ----------------------------------
# Step 2: Analyze the players: Look at 
# Total number of players & Gender demographics
# ----------------------------------

# Total Number of players
num_players_total = len(purchases_df.groupby('SN').count())

573

In [ ]:
# % and count of male players

# % and count of female players

# % and count of other/non-disclosed players

In [6]:
# ----------------------------------
# Step 3: Purchasing Analysis
# 1) Top Spenders
# 2) Purchasing Analysis (Total)
# 3) Purchasing Analysis (Gender)
# 4) Age Demographics
# ----------------------------------

In [ ]:
# ----------------------------------
# Step 4: Items analysis
# 1) Most Popular Items
# 2) Most Profitable Items
# ----------------------------------